<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/menu"></th:block>
<div class="page-title">Main</div>
<br/>
<br/>
<div class="description-header-container">
  Welcome to the beauty salon website!
</div>
<br/>
<div class="description-container">
  Here you can find all the information about our masters and services, as well as sign up for the procedure if you are an authorized user.
</div>


</body>
</html>