<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<div class="menu-container"
     xmlns:th="http://thymeleaf.org"
     xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/home}">Home</a>
        |
    </th:block>
    <a th:href="@{/}">Main</a>
    |

    <a th:href="@{/services}">Services</a>
    |
    <a th:href="@{/masters}">Masters</a>
    |
    <a th:href="@{/records}">Records</a>
    <th:block sec:authorize="hasAuthority('ROLE_USER')">
        |
        <a th:href="@{/cart}">Cart</a>
    </th:block>
    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
        |
        <a th:href="@{/registration/admin}">Add admin</a>
    </th:block>

</div>
</body>
</html>