<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Photo</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="menu"></th:block>
<div class="page-title">Add Photo</div>
<br/>
    <form method="POST" th:action="@{/files/{id}(id=${master.getId()})}" enctype="multipart/form-data">
        <div class="back-container">
        <fieldset>
            <label class="input-file">
                <span class="input-file-text" type="text"  id="file-text"></span>
                <input type="file" name="file" id="file">
                <span class="input-file-btn">Choose file</span>
            </label>
            <button type="submit" class="btn-upload">Upload image</button>
        </fieldset>
        </div>
    </form>
<script>
    const fileSelector = document.getElementById('file');
    const fileText = document.getElementById('file-text');

    fileSelector.addEventListener('change', (e) => {
        let file = e.target.files[0];

        fileText.innerHTML = file.name;
    });
</script>
</body>
</html>